# https://docs.docker.com/ci-cd/github-actions/
name: buildx ci

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

env:
  TESTING_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/k0sctl-handler:test
  RELEASE_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/k0sctl-handler:latest

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - name: Login to DockerHub
        uses: docker/login-action@916386b00027d425839f8da46d302dab33f5875b
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and export to Docker
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          load: true
          tags: ${{ env.TESTING_TAG }}
      - name: Test
        run: |
          docker run --rm ${{ env.TESTING_TAG }}
      - name: Build and push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.RELEASE_TAG }}
