# https://docs.docker.com/ci-cd/github-actions/
name: buildx ci

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

env:
  TESTING_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/k0sctl-handler:test
  RELEASE_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/k0sctl-handler:latest

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@7c525be6cc8a882d5163ce04293cac18617c709f
      - name: Login to DockerHub
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and export to Docker
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23
        with:
          context: .
          load: true
          tags: ${{ env.TESTING_TAG }}
      - name: Test
        run: |
          docker run --rm ${{ env.TESTING_TAG }}
      - name: Build and push
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.RELEASE_TAG }}
